+/* body */

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
}


/* nav */

nav {
  background-color: black;
  height: 10vh;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.dropdown-item {
  color: #d10e0e;
}

/* main */

main {
  max-width: 100vw !important;
  background-color: black;
  height: 90vh;
}

/* aside */

#jumbo {
  padding: 2em 5em;
}

#jumbo a {
  color: #d10e0e;
  font-weight: bold;
}

/* carousel */

.slide {
  height: 38em;
}

.card {
  margin: 3em auto;
  height: 25em;
  max-width: 50em

}

.card-img {
  height:20em;
}

.card-body {
  height: 5em;
}

.card-title {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: #d10e0e;
}

.btn-repo {
  background-color: black;
  border-color: black;
  color: white;
  font-weight: bold;

}

.btn-repo:hover {
  color: #d10e0e;
}

.btn-repo i {
  margin-left: 1em;
}
.btn-demo {
  color: #d10e0e;
  font-weight: bold;
}

.btn-demo:hover {
  color: #d10e0e;
  border-color: #d10e0e;
}


/* footer */

footer {
  background-color: black;
}
